@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@600,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;;
  padding: 0;
  margin: 0;
}

.visible {
  display: block;
}

nav {
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.1);
}

nav li {
  color: #299EFE;
}

nav li a:hover {
  display: inline-block;
  transform: scale(1.05);
  opacity: 0.75;
}

nav button {
  background-color: #299EFE;
}

nav button:hover {
  transform: scale(1.05);
}

.slick-arrow::before {
  color: #5a5a5a !important;
}

input {
  background-color: #eeeeee;
}

input:focus {
  outline: none;
}

select {
  padding: 6px 0;
  padding-right: 16px;
  margin: 0;
  width: 100%;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 0.25em;
  cursor: pointer;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  outline: none;
}
